.advantages {
  padding: 120px 0;

  &-wrapper {
    margin-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;

    img {
      transition: $standartTrans;
    }

    &:hover img {
      scale: 1.1;
    }
  }

  &__text {
    color: #111;
    text-align: center;
  }
}

//@include media(1650) {
//  .advantages__text br {
//    display: none;
//  }
//}

@include media(991) {
  .advantages-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media(600) {
  .advantages-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .advantages {
    padding: 30px 0;
  }
}
