.js-dropdown {
  cursor: pointer;
  transition: 0.35s;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  user-select: none;

  &.active {
    &::after {
      transform: rotate(180deg);
    }

    .js-dropdown__option {
      opacity: 1;
      visibility: visible;
      z-index: 9;
    }
  }


  &__option {
    border-radius: 15px;
    background: #FFF;
    border: 2px solid #fff;
    box-shadow: 4px 4px 26px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 329px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s;
    padding: 20px;
    gap: 15px;

    a {
      font-weight: 400;
      font-size: 16px;
      color: #283d87;
    }

    .header-search__results_false {
      font-weight: 400;
      font-size: 20px;
      color: #111;
    }
  }
}

.js-dropdown:after {
  content: '';
  height: 7px;
  width: 11px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none"><path d="M1.00012 0.75L5.50012 5.25L10.0001 0.75" stroke="white" stroke-width="1.5"/></svg>');
  display: inline-flex;
  background-repeat: no-repeat;
  margin-left: 4px;
  transition: 0.35s;
}
