.manufactures-page {
  .intro-block__container img {
    display: none;
  }

  .manufactures-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    &__item {
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.41em;
      color: #000;
      cursor: pointer;
      transition: $standartTrans;

      &:hover {
        color: #283d87;
      }
    }
  }

  .manufactures-brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: 30px;

    a {
      display: flex;
    }

    img {
      width: 100%;
      object-fit: contain;
      height: 95px;
    }
  }

  .pagination-btn {
    display: none;
  }
}

.manufactures-detail-wrapper {
  margin-top: 100px;

  @include media(700) {
    margin-top: 30px;
  }

  img {
    width: 100%;
    max-height: 500px;
    margin-bottom: 30px;
    object-fit: fill;
  }

  p {
    margin-top: 20px;
    color: #111;
  }

  a {
    color: #283d87;
  }

  a.btn-blue {
    margin-top: 20px;
    background: #283d87;
    color: #fff;
    text-decoration: none;

    &:hover {
      background: #fff;
      color: #283d87;
    }
  }
}

@include media(1650) {
  .manufactures-page .manufactures-filter {
    gap: 7px;
  }

  .manufactures-page .manufactures-filter__item {
    font-size: 12px;
  }
}

@include media(991) {
  .manufactures-page {
    .manufactures-filter {
      justify-content: flex-start;
    }
  }
}

@include media(700) {
  .manufactures-page {
    .manufactures-brands {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
