.thanks-block {
  padding: 40px 0;

  &__container {
    position: relative;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: #111;
    margin-bottom: 60px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    color: #111;
    margin-bottom: 40px;
  }

  &__btn {
    color: #fff;
    background: #283d87;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #283d87;
    }
  }

  &__map {
    position: absolute;
    right: 60px;
    top: 0;
  }

  .mobile-map {
    display: none;
  }
}

@include media(1750) {
  .thanks-block {

    &__container {
      display: flex;
    }

    &__text {
      font-size: 18px;
    }

    &__map {
      position: absolute;
      top: 60px;
      width: 45%;
    }
  }
}

@include media(1350) {
  .thanks-block {

    &__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &__title {
      max-width: 100%;
    }

    &__text {
      max-width: 100%;
    }

    &__map {
      position: static;
      width: 100%;
    }

    .desk-map {
      display: none;
    }

    .mobile-map {
      display: block;
      margin-bottom: 20px;
    }
  }
}
