<section class="burger-menu">
    <div class="burger-menu__accordion-wrapper">
        <div class="burger-menu__accordion">
            <div class="burger-menu__item">
                <div class="accordion__title">
                  <span>
                      Каталог товаров
                  </span>
                </div>
                <div class="accordion__content">
                    <ul>
                        <li><a href="#">Test1</a></li>
                        <li><a href="#">Test2</a></li>
                    </ul>
                </div>
            </div>

            <div class="burger-menu__item">
                <div class="accordion__title">
              <span>
                  О компании
              </span>
                </div>
                <div class="accordion__content">
                    <ul>
                        <li><a href="#">Test1</a></li>
                        <li><a href="#">Test1</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <a href="#" class="burger-menu__link">Производители</a>
        <a href="#" class="burger-menu__link">Новости</a>
        <a href="#" class="burger-menu__link">Контакты</a>
    </div>


    <div class="intro-section__contacts mobile-menu__contacts">
        <div class="intro-section__contacts-item">
            <p>Центральный офис г. Москва</p>
            <a href="tel:+7 (495) 785 80 46">+7 (495) 785 80 46</a>
        </div>

        <div class="intro-section__contacts-item">
            <p>Офис в г. Екатеринбург</p>
            <a href="tel:+7 (343) 286 23 02">+7 (343) 286 23 02</a>
        </div>

        <div class="intro-section__contacts-item">
            <p>Офис в г. Самара</p>
            <a href="tel:+7 (846) 200 77 71">+7 (846) 200 77 71</a>
        </div>
    </div>

    <a href="#" class="btn btn-blue mobile-menu__btn" data-type="ring">
        Заказать звонок
    </a>
</section>
