<div class="popup map-popup" data-popup="map-popup2">
    <div class="popup-wrapper">
        <div class="popup-close button-close">
            <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.63477 1.34961L31.6348 31.0481" stroke="#283D87" stroke-width="2" stroke-linecap="round" />
                <path d="M1.36523 31.3496L30.3652 1.65113" stroke="#283D87" stroke-width="2" stroke-linecap="round" />
            </svg>
        </div>

        <div class="form-popup__content">
            <img src="images/ekat.png" alt="Kig">
        </div>


    </div>
</div>
