.intro-block {
  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: #111;
    max-width: 500px;

    @include media(700) {
      font-size: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    color: #111;

    @include media(700) {
      br {
        display: none;
      }
    }
  }

  img {
    width: 100%;
    object-fit: cover;

    @include media(700) {
      height: 350px;
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;

    @include media(700) {
      margin-bottom: 30px;
    }
  }
}
